.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   width: 10rem;
   height: 5rem;
}

/* Navbar */
.nav__menu {
   list-style: none;
   display: flex;
   gap: 2rem;
   color: #fff;
}

.nav__menu>li>a{
   text-decoration: none;
   list-style: none;
   color: #fff;
}

.nav__menu>li>a {
   cursor: pointer;
}

.nav__menu>li>a:hover{
   color: var(--font-hover)
   
}

@media screen and (max-width: 414px) {
   .logo {
      width: 5rem;
      height: 3rem;
   }
   .nav__menu {
      display: none;
   }
}