.header {
   display: flex;
   justify-content: space-between;
}

.logo {
   width: 10rem;
   height: 3rem;
}

/* Navbar */
.nav__menu {
   list-style: none;
   display: flex;
   gap: 2rem;
   color: #fff;
}

.nav__menu>li {
   cursor: pointer;
}

.nav__menu>li:hover{
   color: var(--orange)
   
}

@media screen and (max-width: 414px) {
   .logo {
      width: 5rem;
      height: 3rem;
   }
   .nav__menu {
      display: none;
   }
}